{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="p-5 rounded h-100" style="min-height: 100vh; color: #542525; background-color: #dccfbe;">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="text-center h3 font-weight-normal">Please sign in</h1>
        <p class="text-center mb-3">(Only for administrators)</p>
        <label for="inputUsername">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-2" autocomplete="username" required autofocus>
        <label for="inputPassword">Password</label>
        <input 
            type="password" 
            name="password" 
            id="inputPassword" 
            class="form-control mb-3"
            autocomplete="current-password" 
            required
        >

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="d-flex justify-content-around align-items-start">
            <button 
                class="btn btn-lg btn-primary me-1" 
                style="background-color: #865d5d; color: #dccfbe; border: none;" 
                type="submit">Sign in
            </button>
            <a 
                class="btn btn-lg btn-primary ms-1" 
                style="background-color: #f56247; color: #542525; border: none;" 
                href="{{ path('app_product') }}">Catalogue
            </a>
        </div>
    </form>
</div>
{% endblock %}